// Some useful defaults


// Import the defaults from libraies

// @import "../../pstj/less/ng-cloak";
// @import "../../pstj/less/reset";


// Disable focus outline (Android)
*:focus {
  outline-style:none;
}

// Make iOS NOT display the focus when you tap.
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// Some tweaking for ipad mini and chrome mobile
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

* {margin:0;outline:none;}

body {
  color: #1C75BC;
  font-family: sans-serif;
}

[flex] {
  display: flex;
  display: ms-flex;
  display: -webkit-flex;
}

[center-center] {
  align-items: center;
  justify-content: center;
}

hr {
  height: 1px;
  background-color: #E1E1E1;
  width: 92%;
  margin: auto;
  border: 0;
  display: table;
}

.profile {
  align-items: center;
  padding: 0.4em;
  color: #1C75BC;
}

.profile-wrap {
  flex: 1;
  max-width: 380px;
}

.profile-picture {
  margin-right: 10px;
  min-width: 50px;
}

.profile-picture img{
  height: 50px;
  display: block;
}

.profile-name {
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 3;
}

.profile-likes {
  position: relative;
  flex:2;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
}

.profile-likes svg {
  max-height: 46px;
}

.profile-likes-number {
  display: flex;
  width: 90%;
  height: 80%;
  position: absolute;
  align-items: center;
}

.digit {
  color: #FF6818;
  margin: 0 0.2em 0 auto;
  font-size: 2.2em;
}

.just-liked {
  padding: 0.4em;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.logo-count {
  display: flex;
  display: ms-flex;
  display: -webkit-flex;
}

.svg {
  position: relative;
  padding: 14px;
  border-radius: 10px;
  height: 80px;
  width: 160px;
  border: 2px solid;
  margin: 5px;
}

.svg svg g:nth-child(2) {
  opacity:0;
}

.svg .logo-count-likes {
  opacity: 1;
  letter-spacing: 3px;
}

.logo-count-likes-wraper {
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  top: 0;
  left: 0;
}

.logo-count-likes {
  font-size: 1.4em;
  margin: 10px 0 0 57px;
  letter-spacing: 3px;
  /**/
  background-color: #1C75BC;
  color: #FFF;
  border-radius: 5px;
  font-weight: bold;
  width: 105px;
  text-align: right;
}

.liked-place {
  border-radius: 5px;
  padding: 5px;
  margin: 0 0 0 7px;
  background-color: #1C75BC;
  color: #FFF;
  flex: 1;
  text-align: center;
}

@media (max-width: 580px) {
  .profile-name {
    white-space: normal;
  }
  .profile-wrap {
    flex: 1;
    max-width: 100%;
  }
  .profile-likes svg {
    max-height: 75px;
  }
  .logo-count {
    display: block;
  }
  .svg {
    width: 98%;
    padding: 1em 0;
    margin: 5px auto;
  }
}

@media (max-width: 380px) {
  .digit {
    font-size: 8.5vw;
  }
}